html, body, section {
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  position: absolute;
  left: 0;
  background-color: #ffffff;
  flex: 1;
}

.title-left {
  width: 60%;
  position: absolute;
  left: 26%;
  bottom: 43%;
}

.split.right {
  position: absolute;
  right:0;
  background-color: #202020;
  flex: 1;
}

.half-right {
  display: flex;
  align-items: flex-end;
}

 .title-right {
    width: 40%;
    position: absolute;
    right: 52%;
    bottom: 45%;
}

.line {
    margin: 0;
    top: -2.5rem;
    position: relative;                      
}

.logo {
  position: absolute;
  bottom: 5;
  right: 5;
  margin: 20px;
}


@media (min-width: 1024px) and (max-width: 1339px) {
  .title-left {
    left: 3%;
  }

  .title-right {
    right: 11rem;
    margin: 0;
    position: relative;
    top: 38px;
  }

  .line {
    top: -2.5rem;
    left: 1.5rem;
  } 
}  

@media (max-width: 1440px) {
  .title-left {
    left: 26%;
    bottom: 43%;
  }

  .title-right {
    right: 48%;
    bottom: 45%;
  }
  .line {
    top: -0.5rem;
    left: 61px;
  }    
}